<!DOCTYPE html>
<html>
<head>
  <title>RibbitApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header> 
		<div class="wrapper">
			<%= image_tag('gfx/logo.png') %>
			<span>Twitter Clone</span>
			<% if current_user %> 
				<span class="spacing"><%= link_to 'Public Ribbits', ribbits_path %></span>
				<span class="spacing"><%= link_to 'My Profile', current_user %></span>
				<span class="spacing"><%= link_to 'Public Users', users_path %></span>
				<span class="spacing"><%= link_to 'Log Out', sessions_destroy_path %></span>
			<% else %>  
		        <%= form_tag sessions_create_path do %>
		            <%= text_field_tag :username, nil, placeholder: "username" %>
		            <%= password_field_tag :password, nil,  placeholder: "password" %>
		            <%= submit_tag "Log In" %>
		        <% end %>
			<% end %>
		</div>
	</header>

	<div id="content">
		<div class="wrapper">
			<% flash.each do |name, msg| %> 
				<%= content_tag :div, msg, class: "flash #{name}" %>
			<% end %>
			<%= yield %>
		</div>
	</div>

	<footer>
		<div class="wrapper">
			Ribbit - A Twitter Clone Tutorial
		</div>
	</footer>

</body>
</html>
